.placetable
  table
    tr
      th Applicant
      th.presentfield
      th.presentfield
      th Persona
    each place in data.places
      if $.inArray(place, data.entity_places) >= 0
        tr
          td #{place}
          td.present
          td.present
          td #{place}
    each place in data.places
      if $.inArray(place, data.entity_places) < 0
        tr
          td #{place}
          td.present
          td.missing
          td
    each place in data.entity_places
      if $.inArray(place, data.places) < 0
        tr
          td
          td.missing
          td.present
          td #{place}
