.container
    h1 Case #{data.case}
    - var totalDerogDocs = 0
    - var totalDerogIdentities = 0
    - var totalWeightedDerogDocs = 0
    - var totalWeightedDerogIdentities = 0
    each entity, entityKey in data.entities
        each match, matchKey in entity.matches
            if match.state && match.state.check === true
                - var weight = match.state.confidence / 100
                if match.state.derog === true
                    - totalDerogIdentities += 1
                    - totalWeightedDerogIdentities += weight
                each document in match.documents
                    if document.state && document.state.derog === true
                        - totalDerogDocs += 1
                        - totalWeightedDerogDocs += weight

    div
        | This case has a total of 
        b #{totalDerogDocs} 
        | documents marked derog. The total is lowered to 
        b #{totalWeightedDerogDocs.toPrecision(2)} 
        | when documents are weighted 
        | by the confidence in identity match.
    p
        | This case has a total of 
        b #{totalDerogIdentities} 
        | identities marked derog based on follower information. The total is lowered to 
        b #{totalWeightedDerogIdentities.toPrecision(2)} 
        | when the number of derog identities are weighted 
        | by the confidence in identity match.

    each entityKey in data.order
        - var entity = data.entities[entityKey]
        h2 #{entity.record.Identity[0].Name[0].FullName}
        b Aliases: 
        each identity in entity.record.Identity
            each name in identity.Name
                span #{name.FullName}, 
        if $.isEmptyObject(entity.matches)
            p
                b No potential matching identities for this entity.
        else
            - var unmatched = [], notchecked = []
            each match, matchKey in entity.matches
                - var matchDesc = match.data.type + ': ' + match.data.description
                if match.state && match.state.check === true
                    h3 #{matchDesc}
                    p
                        | Identity 
                        b matched 
                        | based on name and profile information with confidence 
                        b #{match.state.confidence}%
                        | .
                    p
                        if match.state.derog
                            b Derog 
                        else
                            | No derog 
                        | found in friends and followers.
                    h4 Derog Documents
                    - var noDerogDocs = true
                    each document in match.documents
                        if document.state && document.state.derog === true
                            - noDerogDocs = false
                            p
                                | Document with text 
                                b #{document.doc.document.text} 
                                | was marked 
                                b derog. 
                                a(href="http://twitter.com/#{document.doc.document.user.id}/status/#{document.doc.document.id}", target="_blank")
                                    | http://twitter.com/#{document.doc.document.user.id}/status/#{document.doc.document.id}
                    if noDerogDocs
                        p
                            b No documents were marked as derog.
                else if match.state && match.state.check === false
                    - unmatched.push(matchDesc + " - confidence " + match.state.confidence + "%")
                else
                    - notchecked.push(matchDesc)
            if unmatched.length
                h4 Identities not matched: 
                each name in unmatched
                    p #{name}
            if notchecked.length
                h4 Identities not investigated:
                each name in notchecked
                    p #{name}
